<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Interview_questions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>google_rain_drop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>leetcode_292_nim_num.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_binary_tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B36EF0F21BE7C85F0090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36EF10A1BE7ED230090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36EF1181BE9DFCB0090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36EF1231BE9E8070090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
